body {
    font-family: Lato;
    color:white;
    letter-spacing: 0.02rem;
    background-color:black;
    margin: 0;
    overflow: hidden;
}
header{
    display: grid; 
    grid-template-columns: 3fr 5fr 2fr;
    grid-column: 1 / span 2; 
    align-items: center; 
    padding: 1rem;
    border-bottom: 0.4px solid rgb(46, 46, 46);
}
#logo {
    font-weight: 1000;
    font-size: 2rem;
    margin-left: 26px;
}
.searchbar {
    position: relative;
    border-radius: 4px;
    background: rgb(29, 29, 29);
    color: rgb(171, 171, 171);
    font-family: Lato, sans-serif;
    padding-left: 22px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    display: inline-flex;

}
.fa-search {
    margin-left: 8px;
    height: 0.01rem;
    display: inline-block; vertical-align: middle; padding: 8px 8px;
}
#inputbar{
    color: currentcolor;
    padding: 4px 0px 5px;
    border: 0px;
    box-sizing: content-box;
    background: none;
    width: 100%;
    min-width: 0px;
}
.playlists {
    height: 50px;
    width: 50px;
    margin: 4px;
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
}
#contentdiv {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)
      ),url('5ea8b444a43651001642d6db-original.png');
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background-position: right bottom;
    display: flex;
    justify-content: space-between;
    height: 800px;
    position: relative;
}
#slogan {
    padding-top: 15rem;
    margin-left: 5vw;
    font-size: 4rem;
    width: 40%;
}