<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Group - Partify</title>
    <meta property="og:title" content="Group - Partify" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-danger-textcolor);
        background-color: var(--dl-color-gray-500);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik+Distressed:wght@400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <!--This is the head section-->
    <!-- <style> ... </style> -->
    <style data-section-id="dropdown">
      [data-thq="thq-dropdown"]:hover > [data-thq="thq-dropdown-list"] {
          display: flex;
        }

        [data-thq="thq-dropdown"]:hover > div [data-thq="thq-dropdown-arrow"] {
          transform: rotate(90deg);
        }
    </style>
    <link rel="stylesheet" href="../static/style.css" />

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <!--This function is used to search through the group member list-->
    <script>
      function memberSearchFunction() {
        var Search_Input, filter, table, tr, td, index, text_Value;
        input = document.getElementById("group-member-search");
        filter = input.value.toUpperCase();
        table = document.getElementById("group-member-table");
        tr = table.getElementsByTagName("tr");

        for (index = 0; index < tr.length; index++) {
          td = tr[index].getElementsByTagName("td")[0];
          if (td) {
            text_Value = td.textContent || td.innerText;
            if (text_Value.toUpperCase().indexOf(filter) > -1) {
              tr[index].style.display = "";
            }
            else {
              tr[index].style.display = "None";
            }
          }
        }
      }
    </script>
  </head>
  <body>
    <div>
      <link href="../static/group.css" rel="stylesheet" />

      <div class="group-container">
        <div class="group-page-container">
          <div id="Header" class="header-header header-root-class-name1">
            <img
              alt="Logo"
              src="https://play.teleporthq.io/static/svg/default-img.svg"
              class="header-logo"
            />
            <div class="header-site-nav-area">
              <div data-thq="thq-dropdown" class="header-dropdown list-item">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="header-dropdown-toggle"
                >
                  <span class="header-site-nav-text">
                    <span>Site Nav</span>
                  </span>
                  <div
                    data-thq="thq-dropdown-arrow"
                    class="header-dropdown-arrow"
                  >
                    <svg viewBox="0 0 1024 1024" class="header-icon">
                      <path d="M426 726v-428l214 214z"></path>
                    </svg>
                  </div>
                </div>
                <ul data-thq="thq-dropdown-list" class="header-dropdown-list">
                  <li
                    data-thq="thq-dropdown"
                    class="header-dropdown1 list-item"
                  >
                    <div
                      data-thq="thq-dropdown-toggle"
                      class="header-dropdown-toggle1"
                    >
                      <a href="index.html" class="header-home-button button">
                        <span>Home</span>
                      </a>
                    </div>
                  </li>
                  <li
                    data-thq="thq-dropdown"
                    class="header-dropdown2 list-item"
                  >
                    <div
                      data-thq="thq-dropdown-toggle"
                      class="header-dropdown-toggle2"
                    >
                      <a href="user.html" class="header-user-button button">
                        <span>User</span>
                      </a>
                    </div>
                  </li>
                  <li
                    data-thq="thq-dropdown"
                    class="header-dropdown3 list-item"
                  >
                    <div
                      data-thq="thq-dropdown-toggle"
                      class="header-dropdown-toggle3"
                    >
                      <a href="group.html" class="header-group-button button">
                        <span>Group</span>
                      </a>
                    </div>
                  </li>
                  <li
                    data-thq="thq-dropdown"
                    class="header-dropdown4 list-item"
                  >
                    <div
                      data-thq="thq-dropdown-toggle"
                      class="header-dropdown-toggle4"
                    >
                      <a href="data.html" class="header-data-button button">
                        <span>Data</span>
                      </a>
                    </div>
                  </li>
                  <li
                    data-thq="thq-dropdown"
                    class="header-dropdown5 list-item"
                  >
                    <div
                      data-thq="thq-dropdown-toggle"
                      class="header-dropdown-toggle5"
                    >
                      <a href="about.html" class="header-about-button button">
                        <span>About</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-page-title">
              <h1 class="header-page-title-text"><span>Partify</span></h1>
            </div>
            <div class="header-header-boarder">
              <img
                alt="wave-image"
                src="../static/Images/sound-1781570.svg"
                class="header-wave-img1"
              />
              <img
                alt="wave-image"
                src="../static/Images/sound-1781570.svg"
                class="header-wave-img2"
              />
              <img
                alt="wave-image"
                src="../static/Images/sound-1781570.svg"
                class="header-wave-img3"
              />
              <img
                alt="wave-image"
                src="../static/Images/sound-1781570.svg"
                class="header-wave-img4"
              />
              <img
                alt="wave-image"
                src="../static/Images/sound-1781570.svg"
                class="header-wave-img5"
              />
              <img
                alt="wave-image"
                src="../static/Images/sound-1781570.svg"
                class="header-wave-img6"
              />
            </div>
            <div class="header-spotify-login">
              <a
                href="https://www.spotify.com/us/account/overview/"
                target="_blank"
                rel="noreferrer noopener"
                class="header-login-button button"
              >
                <span class="header-login-button-text">
                  <br />
                  <span>Login</span>
                </span>
              </a>
            </div>
          </div>
          <!--Section for the main elements of the page-->
          <div class="group-main">
            <div class="group-page-title">
              <h1 class="group-page-title-text">Group</h1>
            </div>
            <div class="group-members">
              <input type="text" 
              id="group-member-search" 
              onkeyup="memberSearchFunction()" 
              placeholder="Search for group members...">
              </input>
              <table id="group-member-table">
                <tr class="header">
                  <th style="width:100%";>Name</th>
                </tr>
                <!--The group member's names go here-->
                <tr>
                  <td>John Smith</td> 
                </tr>
                <tr>
                  <td>Joe Baker</td> 
                </tr>
                <tr>
                  <td>Alice Smith</td>
                </tr>
              </table>
            </div>
            <div class="group-playlist">
              <ul id="allSongsInPlaylist">
                {% for song in songsInPlaylist %}
                  <div id="{{song.id}}">
                    <a type="button" onclick="play('{{song.preview_url}}')">{{ song['name'] }}</a>
                    <div>
                      <form method="POST"><button class="button" type="button" onclick='deleteSong("{{song.id}}")'>Delete</button></form>
                    </div>
                  </div>
                {% endfor %}
              </ul>
            </div>
            <div class="group-members-title">
              <span class="group-members-title-text">Group Members</span>
            </div>
            <div class="group-playlist-title">
              <span class="group-playlist-title-text">
                Group Playlist
              </span>
              <input
                type="text"
                placeholder="Search playlist"
                class="group-textinput input"
              />
            </div>
            <!--Containers for the QR code-->
            <div class="group-q-r-code">
              <img
                alt="QR-code"
              img src="../static/Images/QR-Partify.png"
              class="QR-code"
              />
            </div>
            <div class="group-q-r-code-text-container">
              <span class="group-q-r-code-text">
                Scan this using your phone's camera to invite others !
              </span>
            </div>
            <div class="group-q-r-code-arrow-container">
              <svg viewBox="0 0 1024 1024" class="group-q-r-code-arrow-icon">
                <path
                  d="M262.14 0c-113.728 206.032-132.89 520.304 313.86 509.824v-253.824l384 384-384 384v-248.372c-534.96 13.942-594.572-472.214-313.86-775.628z"
                ></path>
              </svg>
            </div>
            <div class="group-container1">
              <ul id="listOfSongs"></ul>
            </div>
            <div class="group-songs-title">
              <form method="post">
                <input
                  type="text"
                  placeholder="Search for new songs "
                  class="group-search-input1 input"
                  id = "newSongName"
                  onkeyup = "getSongsFromKey()"
                />
              </form>
              <span class="group-songs">Add New Songs&nbsp;</span>
            </div>
            <!--Containers for the recommendations-->
            <div class="group-recommendations">
              <div class="group-recommend-container">
                <button class="group-recommend-button button">
                  <span class="group-recommend-text">
                    <span>Recommend Me A Song </span>
                    <br />
                    <br />
                  </span>
                </button>
              </div>
              <!--Sections for the individual recommendation results-->
              <div class="group-recommendations-results">
                {% for song in songsRecommended %}
                  <div>
                    <div id="group-recommended-song">
                      {{song.name}}
                    </div>
                    <form method="POST">
                      <button id="group-add-recommend-song-button" class="button" type="button" onclick='addToPlaylist("{{song.id}}")'>Add Song</button>
                    </form>
                  </div>
                {% endfor %}
              </div>  
            </div>
           </div>
           <!--Containers for the footer/playbar-->
          <footer class="group-footer">
            <div class="play-bar-container play-bar-root-class-name">
              <!-- <div class="play-bar-next-button-container">
                <button class="play-bar-next-button button">
                  <svg
                    viewBox="0 0 585.1428571428571 1024"
                    class="play-bar-next-icon"
                  >
                    <path
                      d="M25.714 943.429c-14.286 14.286-25.714 9.143-25.714-10.857v-841.143c0-20 11.429-25.143 25.714-10.857l405.714 405.714c3.429 3.429 5.714 6.857 7.429 10.857v-387.429c0-20 16.571-36.571 36.571-36.571h73.143c20 0 36.571 16.571 36.571 36.571v804.571c0 20-16.571 36.571-36.571 36.571h-73.143c-20 0-36.571-16.571-36.571-36.571v-387.429c-1.714 4-4 7.429-7.429 10.857z"
                    ></path>
                  </svg>
                </button>
              </div>
              <div class="play-bar-previous-button-container">
                <button class="play-bar-previous-button button">
                  <svg
                    viewBox="0 0 585.1428571428571 1024"
                    class="play-bar-previous-icon"
                  >
                    <path
                      d="M559.429 80.571c14.286-14.286 25.714-9.143 25.714 10.857v841.143c0 20-11.429 25.143-25.714 10.857l-405.714-405.714c-3.429-3.429-5.714-6.857-7.429-10.857v387.429c0 20-16.571 36.571-36.571 36.571h-73.143c-20 0-36.571-16.571-36.571-36.571v-804.571c0-20 16.571-36.571 36.571-36.571h73.143c20 0 36.571 16.571 36.571 36.571v387.429c1.714-4 4-7.429 7.429-10.857z"
                    ></path>
                  </svg>
                </button>
              </div>
              <div class="play-bar-play-button-container">
                <button class="play-bar-play-button button">
                  <svg
                    viewBox="0 0 808.5942857142857 1024"
                    class="play-bar-play-icon"
                  >
                    <path
                      d="M790.857 529.714l-758.857 421.714c-17.714 9.714-32 1.143-32-18.857v-841.143c0-20 14.286-28.571 32-18.857l758.857 421.714c17.714 9.714 17.714 25.714 0 35.429z"
                    ></path>
                  </svg>
                </button>
              </div> -->
              <audio id="audioSource" controls>
              </audio>
            </div>
            
            <a href="#Header" class="group-link">
              <div class="home-button-container home-button-root-class-name6">
                <div class="home-button-home-button-container">
                  <button type="button" class="home-button-home-button button">
                    <svg
                      viewBox="0 0 950.8571428571428 1024"
                      class="home-button-icon"
                    >
                      <path
                        d="M920.571 554.857c0 19.429-8 37.714-21.143 51.429l-42.857 42.857c-13.714 13.714-32.571 21.714-52 21.714s-38.286-8-51.429-21.714l-168-167.429v402.286c0 41.143-34.286 66.857-73.143 66.857h-73.143c-38.857 0-73.143-25.714-73.143-66.857v-402.286l-168 167.429c-13.143 13.714-32 21.714-51.429 21.714s-38.286-8-51.429-21.714l-42.857-42.857c-13.714-13.714-21.714-32-21.714-51.429s8-38.286 21.714-52l372-372c13.143-13.714 32-21.143 51.429-21.143s38.286 7.429 52 21.143l372 372c13.143 13.714 21.143 32.571 21.143 52z"
                      ></path>
                    </svg>
                  </button>
                </div>
              </div>
            </a>
          </footer>
        </div>
      </div>
    </div>

    <script>
      function getSongsFromKey() {
        let newSongName = document.getElementById("newSongName").value;
        let listOfSongs = document.getElementById('listOfSongs')
        listOfSongs.innerHTML = ''
        $.ajax({
          url: "/groupPage",
          type: "POST",
          // contentType: "application/json",
          data: {
            newSongName: newSongName
          },
          success: function(songResults) {
            for (var key in songResults) {
              const node = document.createElement("a");
              const textnode = document.createTextNode(songResults[key]['name']);
              node.appendChild(textnode);
              node.setAttribute('onclick', 'play(songResults.preview)')
              const nodeAdd = document.createElement('div')
              // nodeAdd.className = 'button'
              var songId = songResults[key]['id']
              nodeAdd.innerHTML = `<form method="POST"><button name="data" class="button" type="button" onclick=addToPlaylist("${songId}")>Add Song</button></form>`;
              listOfSongs.appendChild(node);
              listOfSongs.appendChild(nodeAdd)
            }
        }
        });
      }

      function addToPlaylist(songId) {
        $.ajax({
          url: "/groupPage",
          type: "POST",
          data: {
            songIdAdd: songId
          },
          success: function(songInfo) {
            const allSongsInPlaylist = document.getElementById('allSongsInPlaylist');
            const nodeEachSong = document.createElement('div')
            var songId = songInfo['id']
            nodeEachSong.id = songId
            const node = document.createElement("li");
            const textnode = document.createTextNode(songInfo['name']);
            node.appendChild(textnode);
            const nodeDelete = document.createElement('div')
            nodeDelete.innerHTML = `<form method="POST"><button class="button" type="button" onclick=deleteSong("${songId}")>Delete</button></form>`;
            nodeEachSong.appendChild(node);
            nodeEachSong.appendChild(nodeDelete)
            allSongsInPlaylist.prepend(nodeEachSong)
          }
        })
      }

      function deleteSong(songId) {
        $.ajax({
          url: "/groupPage",
          type: "POST",
          data: {
            songIdDelete: songId
          },
          success: function(songIdDelete) {
            const nodeToRemove = document.getElementById(songIdDelete)
            nodeToRemove.remove()
          }
        })
      }

      function play(preview) {
        const audioSource = document.getElementById('audioPreview')
        audioSource.setAttribute('src', preview)
      }
      </script>
  </body>
</html>
