<div>
  <link href="./header.css" rel="stylesheet" />
  <div class="header-header">
    <img
      alt="Logo"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      class="header-logo"
    />
    <div class="header-header-border"></div>
    <div class="header-site-nav-area">
      <div data-thq="thq-dropdown" class="header-dropdown list-item">
        <div data-thq="thq-dropdown-toggle" class="header-dropdown-toggle">
          <span class="header-site-nav-text"><span>Site Nav</span></span>
          <div data-thq="thq-dropdown-arrow" class="header-dropdown-arrow">
            <svg viewBox="0 0 1024 1024" class="header-icon">
              <path d="M426 726v-428l214 214z"></path>
            </svg>
          </div>
        </div>
        <ul data-thq="thq-dropdown-list" class="header-dropdown-list">
          <li data-thq="thq-dropdown" class="header-dropdown1 list-item">
            <div data-thq="thq-dropdown-toggle" class="header-dropdown-toggle1">
              <a href="index.html" class="header-home-button button">
                <span>Home</span>
              </a>
            </div>
          </li>
          <li data-thq="thq-dropdown" class="header-dropdown2 list-item">
            <div data-thq="thq-dropdown-toggle" class="header-dropdown-toggle2">
              <a href="user.html" class="header-user-button button">
                <span>User</span>
              </a>
            </div>
          </li>
          <li data-thq="thq-dropdown" class="header-dropdown3 list-item">
            <div data-thq="thq-dropdown-toggle" class="header-dropdown-toggle3">
              <a href="group.html" class="header-group-button button">
                <span>Group</span>
              </a>
            </div>
          </li>
          <li data-thq="thq-dropdown" class="header-dropdown4 list-item">
            <div data-thq="thq-dropdown-toggle" class="header-dropdown-toggle4">
              <a href="data.html" class="header-data-button button">
                <span>Data</span>
              </a>
            </div>
          </li>
          <li data-thq="thq-dropdown" class="header-dropdown5 list-item">
            <div data-thq="thq-dropdown-toggle" class="header-dropdown-toggle5">
              <a href="about.html" class="header-about-button button">
                <span>About</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-user">
      <a href="user.html" class="header-spotify-login-link">
        <span>User</span>
      </a>
    </div>
    <div class="header-page-title">
      <h1 class="header-page-title-text"><span>Partify</span></h1>
    </div>
  </div>
</div>
